services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    volumes:
      - .:/var/www/html
    environment:
      DATABASE_URL: "mysql://root:root@db:3306/symfony?serverVersion=8.0.32"
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:stable-alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: symfony_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: symfony_redis
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus
    container_name: symfony_prometheus
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: symfony_grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  adminer:
    image: adminer
    container_name: symfony_adminer
    ports:
      - "8081:8080"

volumes:
  db_data:
